/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * mypoints.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2014
 */

@font-face {
	 font-family: "LLBrownWeb-Bold";
	 src: 	 url("http://www.mypoints.com/fonts/lineto-brown-bold-c.eot");
	 src: 	 url("http://www.mypoints.com/fonts/lineto-brown-bold-c.eot?#iefix") format("embedded-opentype"),
		 url("http://www.mypoints.com/fonts/lineto-brown-bold-c.woff") format("woff"),
		 url("http://www.mypoints.com/fonts/lineto-brown-bold-c.ttf") format("truetype"),
		 url("http://www.mypoints.com/fonts/lineto-brown-bold-c.svg#LLBrownWeb-Bold") format("svg");
	 font-weight: normal;
	 font-style: normal;
}

@font-face {
	 font-family: "LLBrownWeb-Regular";
	 src: 	 url("http://www.mypoints.com/fonts/lineto-brown-regular-c.eot");
	 src: 	 url("http://www.mypoints.com/fonts/lineto-brown-regular-c.eot?#iefix") format("embedded-opentype"),
		 url("http://www.mypoints.com/fonts/lineto-brown-regular-c.woff") format("woff"),
		 url("http://www.mypoints.com/fonts/lineto-brown-regular-c.ttf") format("truetype"),
		 url("http://www.mypoints.com/fonts/lineto-brown-regular-c.svg#LLBrownWeb-Regular") format("svg");
	 font-weight: normal;
	 font-style: normal;
}

@font-face {
	 font-family: "LLBrownWeb-Light";
	 src: 	 url("http://www.mypoints.com/fonts/lineto-brown-light-c.eot");
	 src: 	 url("http://www.mypoints.com/fonts/lineto-brown-light-c.eot?#iefix") format("embedded-opentype"),
		 url("http://www.mypoints.com/fonts/lineto-brown-light-c.woff") format("woff"),
		 url("http://www.mypoints.com/fonts/lineto-brown-light-c.ttf") format("truetype"),
		 url("http://www.mypoints.com/fonts/lineto-brown-light-c.svg#LLBrownWeb-Light") format("svg");
	 font-weight: normal;
	 font-style: normal;
}
